@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Light mode */
	/* --background: #f0f8ff; */
	/* --background: #fff; */

	--background: #deddda;
	--backgroundDark: #cacaca;
	--foreground: #171717;
	--primary: #e6f0ff;
	/* --button-primary: #7ae364; */
	--button-primary: #4f46e5;
	--button-text: #fff;
	--secondary: #dcefff;
	--accent: #a8a8a8;
	--warning: #ff6b6b;
}

/* Optional: Class-based dark mode (recommended for better control) */
.dark {
	/* --background: #05192d;
	--background: #072333; */
	--background: #000;
	--backgroundDark: #181818;
	/* --background-dark: #051f2e; */
	--foreground: #deddda;
	--primary: #7ae364;
	/* --button-primary: #7ae364; */
	/* --button-primary: #e4e135; */
	--button-primary: #4f46e5;
	--button-text: #fff;
	/* --secondary: #1a344e; */
	--secondary: #083047;
	--accent: #7e7777;
	--warning: #fff4b7;
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-form-item
	.ant-form-item-label
	> label {
	color: var(--foreground);
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-select-outlined:not(
		.ant-select-customize-input
	)
	.ant-select-selector {
	background-color: var(--background);
	border-color: #c5c5c5;
}
