@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Light mode */
	--background: #f0f8ff;
	--foreground: #171717;
	--primary: #e6f0ff;
	--button-primary: #7ae364;
	--secondary: #dcefff;
	--accent: #ffd700;
	--warning: #ff6b6b;
}

/* Optional: Class-based dark mode (recommended for better control) */
.dark {
	/* --background: #05192d; */
	--background: #072333;
	/* --background-dark: #041424; */
	--background-dark: #051f2e;
	--foreground: #ededed;
	--primary: #7ae364;
	--button-primary: #7ae364;
	/* --secondary: #1a344e; */
	--secondary: #083047;
	--accent: #006a67;
	--warning: #fff4b7;
}
